.dashboard {
    background-color: rgba(14, 213, 240, 0.925);
    height: 100vh;
    color: white;
    cursor: pointer;
    margin-bottom: -64px;
    margin-top: -48px;
  }
  .dashboard-menu {
    list-style: none;
    margin-top: 10px;
  }
  .dashboard-menu:hover {
    color: cyan;
  }
  
  li{
    text-decoration: none;
    color: #fff;
  }
